{% extends "_layouts/cp" %}

{% do view.registerAssetBundle('craft\\web\\assets\\admintable\\AdminTableAsset') -%}

{% do view.registerTranslations('app', [
    "Name",
    "Handle",
]) %}

{% do view.registerTranslations('characteristic', [
    "Edit characteristics",
    "Are you sure you want to delete “{name}” and all its characteristic data?",
    "No characteristics exist yet.",
]) %}

{% set multiple  = (groups|length > 1) %}

{% set title = "Characteristic Groups"|t('characteristic') %}

{% set crumbs = [
    { label: "Settings"|t('app'), url: cpUrl('settings') }
] %}

{% block actionButton %}
    <a href="{{ cpUrl('settings/characteristics/new') }}"
       class="btn submit add icon">{{ "New group"|t('characteristic') }}</a>
{% endblock %}

{% block content %}
    <div id="characteristic-groups-vue-admin-table"></div>
{% endblock %}

{% set tableData = [] %}
{% for group in groups %}
    {% set tableData = tableData|merge([{
        id: group.id,
        title: group.name|t('site'),
        url: url('settings/characteristics/' ~ group.id),
        handle: group.handle,
        menu: {
            showItems: false,
            label: 'Manage Characteristics'|t('characteristics'),
            url: url('characteristics/' ~ group.handle),
            items: []
        }
    }]) %}
{% endfor %}


{% js %}
    var columns = [
        {
            name: '__slot:title',
            title: Craft.t('app', 'Name'),
        },
        {
            name: '__slot:handle',
            title: Craft.t('app', 'Handle'),
        },
        {
            name: '__slot:menu',
            title: Craft.t('characteristic', 'Characteristics'),
        }
    ];

    new Craft.VueAdminTable({
        columns: columns,
        container: '#characteristic-groups-vue-admin-table',
        deleteAction: 'characteristic/settings/delete-group',
        deleteConfirmationMessage: Craft.t('characteristic', "Are you sure you want to delete “{name}” and all its characteristic data?"),
        emptyMessage: Craft.t('characteristic', 'No characteristics exist yet.'),
        tableData: {{ tableData|json_encode|raw }}
    });
{% endjs %}
