{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Characteristic plugin for Craft CMS 3.x
 *
 * Characteristics Field Input
 *
 * @author    Venveo
 * @copyright Copyright (c) 2019 Venveo
 * @link      https://www.venveo.com
 * @package   Characteristic
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

<div class="vue-characteristics-input"></div>